[user]
  name = Filip Bontin
  email = fbontin@users.noreply.github.com
[pull]
  rebase = true
[push]
  autoSetupRemote = true
[alias]
  s = status -s
  fwl = push --force-with-lease
  cane = commit --amend --no-edit

